body {
	 font-family: 'Montserrat', sans-serif;
	 background-image: url("imgAssign01/cool-backgrounds.jpg");
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}

/*.tble {
 overflow-x:auto;
}*/
div.smaller {
	font-size: 12px;
}
table {  
    color: #333;
    width: 640px; 
    border-collapse: 
    collapse; border-spacing: 0; 
}

.github {
	
	width: 50;
	height: 50;
	background-color: #3669A3;
	padding: 5px;

}

.main {
	color: #40A3C7;
}

.respTable {
	overflow-x:auto;
}

.hover07 figure img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover07 figure:hover img {
	-webkit-filter: blur(0);
	filter: blur(0);
}

div.hobb {
	position: static;
  border: 3px solid #3669A3;
  width: 200px;
  
}

.lili {
	color: red;
}

 
body.forms {
	font-family: 'Open Sans Condensed', sans-serif;
	background-image: url("imgAssign01/cool-backgrounds.jpg");
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;

}

.center {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.soccerRow {
	 background-color: #3669A3;
  color: white;
  text-align: center;
  padding:6px;
}
.returnPage {
	width: : 50%;
}
